
.author {
	font: 			10px Arial ;
	color: 			green;
	text-align: 	center;
}
#navbar {
	height:			50px;
}

.navbar-item {
	padding: 		2px;
	text-decoration: none;
}
.navbar-item:hover {
	text-decoration: none;
	border-radius: 	10px;
	background-color: silver;
}
.jumbotron {
	margin-top:	60px;
}
.indextable td a {
	padding: 2px;
}
.indextable td a:hover {
	background-color: silver;
}

.photoimg {
	height: 		100px;
	border: 		#0c88b4 solid 2px;
}

label {
	width:			15%;
}

.green {
	color: #baccba;
}
.red {
	color: #d51919;
}
